body {
	background-color: FFF;
}
h1{
	margin-left: 40px;
	font-family: "Apple Chancery", Times, serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #7D7461;
	font-weight: 400;
	text-decoration: underline;
	font-style: italic;
	font-variant: normal;
	text-transform: none;
}


h2{
	font-size:40px;
	color : #A8C7BB;

}

#information{
	position: fixed;
	top:87;
	left: 30;
	right: 70;
	width : 350;
}



#map{
	margin-left: 400px;
	margin-right: 50px;
	top:0;
	width:70%;
	height:500px;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #9AB4B2;
  padding: 8px;
  height:480px;
}

p{
  color: white;
  font-size: 15px;
  font-family:"Gill Sans", sans-serif;
  text-align: justify;

}

h4{
  color: white;
  font-family:"Gill Sans", sans-serif;
  text-align: center;
  font-weight: 200;
}

.img_mep{
	float: left;
	margin-right: 10px;
}

/*button in the slide*/
.button {
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family:"Gill Sans", sans-serif;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white;
  opacity: 0.8;
  color: black;
  border: 1px solid #555555;
  float: right;
}

.button2:hover {
  background-color: #555555;
  color: white;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.modal_fade {
	visibility: hidden;
	position: relative;
}


.info_map {
	visibility: visible;
}

.fenetre_alert{
	visibility: hidden;
}

#fenetre_validation {
	visibility: hidden;
    cursor: default;
    z-index: 3;
    border-radius: 100px;
    display: block;
}

#fenetre_validation .modal-dialog-center {
    position: relative;
    top: 40%;
    transform: translateY(-200%);
    width: 40%;
    height: 40%;
    left: 30%;
}

.texte_validation{
	font-style: normal;
	font-size: 16px !important;
	padding: 10px;
}

#debut_questionnaire{
	border-radius: 10px ;
	width: 100%;
	height: 50px;
	font-size: 14px;
	/*font-weight: bold;*/
}

#entete{
    margin-left: auto;
    margin-right: auto;
    text-align :center;
    display: inline;	
}
.modal-content {
    background-color:#738988;
    color: #fff;
    border-radius:50px;
}

.modal-content {
    padding: 10px;
}

.modal-body {
    padding: 20px;
}

.no-margin {
    margin: 0!important;
}

.text-align-center, .text-center {
    text-align: center!important;
}


/*#fenetre_validation .btn {
    background-color: #2c7fb8;
    border-color: #644b00;
    font-size: 2rem;
	padding: 10px 10px;
	position: relative;
	top: 0; 
	left: 20%;
}*/

.no-margin {
    margin: 0!important;
}

.modal-body {
    position: relative;
    padding: 10px;
}


@media (max-height: 899px) 
and (min-height: 667px) 
and (orientation: landscape), (max-height: 1279px) 
and (min-height: 900px) 
and (orientation: portrait)
#fenetre_validation .modal-dialog p {
    font-size: 2rem;
    padding: 10px 10px;
}

#fenetre_validation .modal-dialog-center p {
	font-size: 1.85rem;
    margin-bottom: 1%;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

#fenetre_validation .modal-dialog-center p.am-small-welcome-text {
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert-warning {
    border-color: #404040;
    color: #404040;
    background-color: #404040;
}

#fenetre_validation .modal-dialog-center .btn-undertext {
    color: #007bff;
    text-decoration: none;
	background-color: transparent;
	position: relative;
	top: 0; 
	left: 23%;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color:#738988;;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
