* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /*background-color: hsla(170, 20%, 75%, 0.3);*/
  background-color:#99B4B2
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.questions-content {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  color: #6D6A6D;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: back;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #back;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #738988;
    font-family:"Gill Sans", sans-serif;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#bulleinfo {
	width : 16px;
	height : 16px;
}
 
.infobulle { 
  text-decoration:none; 
  position:relative; 
}

.infobulle span {
  float : left;
  display:none; 
  -moz-border-radius:2px; 
  -webkit-border-radius:2px; 
  border-radius:2px; 
  color: #2A2E2D; 
  background-color: #EEEEEE; 
  font-family:"Gill Sans", sans-serif;
  font-size:11px;
  text-align: left;
  z-index: 500;
} 

.infobulle:hover span 
{ 
  display:inline; 
  float: right;
  top:30px; 
  left:20px; 
  z-index:1000;
  white-space: nowrap;
  border:1px solid #57715A; 
  margin-top:5px; 
  margin-left:5px; 
  overflow:hidden; 
  padding:10px; 
}
