/* typographie */
h1{
	margin-top: 40px;
	margin-left: 5px;
	margin-right: 50px;
	font-family:"Gill Sans", sans-serif;
	font-size:12px;
	color : #FFFFFF;
}



h2{
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 50px;
	font-family:"Gill Sans", sans-serif;
	font-size:14px;
	color : #FFFFFF;
}

h8{
	font-size:11px;
	color : #FFFFFF;
	font-family:"Gill Sans", sans-serif;
}

.h5{
	font-size:30px;
	color : #004E2B;
	font-weight:bold;
	margin-left: 80px;
	font-family:"Gill Sans", sans-serif;
}

.h3{
	font-size:30px;
	color : #D7833A;
	font-weight:bold;
	margin-left: 80px;
	font-family:"Gill Sans", sans-serif;
}

.h4{
	text-align: center;
	font-family:"Gill Sans", sans-serif;
	font-size:12px;
	color : #383736;
}

h4{
	margin-top:10px;
	margin-left:20px;
	text-align: LEFT;
	font-family:"Gill Sans", sans-serif;
	font-size:13px;
	color : #383736;
}

h5{
	text-align: center;
	font-family:"Gill Sans", sans-serif;
	font-size:13px;
	color : #383736;
}

label{
	font-family:"Gill Sans", sans-serif;
	font-size:11px;
	color : #FFFFFF;
	}

/* carte et global */
#name_icon{
position: fixed;
top:-5;
left: 0;
}

#name_icon2{
position: fixed;
top:10;
left: 240	;
}


#information{
	position: fixed;
	top:60;
	left: 0;
	width : 500;
	height : 100%;
}


#map{ 
	position: fixed;
	top:60;
	right: 0;
	left:0%;
  border: 1px solid black ;
	width : 100%;
	height : 100%;
}

/* boutons*/
#share_fb{
	position: fixed;
	top:30;
	right: 5;
}


#share_imprimer{
	position: fixed;
	top:30;
	right: 85;
}
#val{
	position: fixed;
	top:30;
	right: 150;
}
#moy{
	position: fixed;
	top:30;
	right: 250;
}



/*button in the slide*/
button {
	 border: none;
	 cursor: pointer;
}

.button {
		  margin-left: 8px;
		  background-color: #4CAF50; /* Green */
		  border: none;
		  color: white;
		  padding: 5px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 12px;
		  font-family:"Gill Sans", sans-serif;
		  margin: 4px 2px;
		  transition-duration: 0.4s;
		  cursor: pointer;
		}

.button_next {
		  margin-left: 8px;
		  background-color: white;
		  color: black;
		  border: 2px solid #555555;
		}

.button_next:hover {
		  margin-left: 8px;
		  background-color: #555555;
		  color: white;
		}

/*comparaision in the slide*/
.containera{
		  margin-top:5px;
		  position: relative;
		  width: 95%;
		  background-color: #FFDFB4;
		  border-color :#D7833A;
		  border : solid #D7833A;
		  
}
.containerb {
		  margin-top:5px;
		  position: relative;
		  width: 95%;
		  background-color: #99B4B2;
		  border-color: #004E2B;
		  border : solid #004E2B;
		  
}

/* Legende*/

.legend {
  padding: 6px 8px;
  font-family:"Gill Sans", sans-serif;
  font-size: 14px;
/*  font: 14px Arial, Helvetica, sans-serif;*/
  background: white;
  background: rgba(255, 255, 255, 0.8);
  top: -50px;
  left : -10px;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 100%;
  background-color: rgba(255, 255, 255, 1);
  background-image: url(https://image.flaticon.com/icons/svg/1119/1119071.svg);
  background-repeat: no-repeat;
}

/*.legend i.iconb {
  background-size: 70%;
  background-image: url (https://image.flaticon.com/icons/svg/2089/2089716.svg);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);
}*/

/* Pop up*/

.page{visibility: hidden;}

#volet_bienvenue {
	visibility: visible;
    cursor: default;
    z-index: 3;
    border-radius: 100px;
    display: block;
	width: 60%;
	height: 20%;
}

.waiting{
	font-style: normal;
	z-index: 4;
	font-size: 16px !important;
	padding: 10px;
}
/*Bouton*/
#simuFromBienvenue{
	border-radius: 20px;
	width: 10% ;
	height: 20% ;
	font-size: 14px ;
	font-weight: bold ;
}
/*boite visible*/
.modal-content {
    background-color:#738988;
    color: #fff;
    border-radius:20px;
    padding: 10px;
}
.text-align-center, .text-center {
    text-align: center!important;
}

/*TailleBoite*/
.modal-dialog {
	z-index: 3;
    position: relative;
    top: 200%; left: 50%;
    width: auto;
    margin: 10px;
}

/* Onglet */
.systeme_onglets {
	margin-top : 10px;
	height : 20px;
	margin-left:25px;
    margin-right:2px;
    color: #FFF;
}
	
.onglet {
	background-color: #FFF;
    display:inline-block;
	height : 30px;
    border:1px solid black;
    cursor:pointer;
}
.onglet_0 {
	background:#333;
	text-align: center;

}
.onglet_1 {
    background:#738688; 
	text-align: center;

}
.contenu_onglet {
    border:1px solid black;
		margin-left:5px;
    margin-right:30px;
    display:none;
}
ul {
    margin-top:0px;
    margin-bottom:0px;
/*    margin-left:-10px*/
}


#monBouton{
	text-align: center;
	color: #888;
	font-size: 10px;

}


