
h1{
	margin-top: 40px;
	margin-left: 5px;
	margin-right: 50px;
/*	font-family: "Apple Color Emoji", Times, serif;*/
	font-family:"Gill Sans", sans-serif;
	font-size:12px;
	color : #FFFFFF;
}



h2{
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 50px;
/*	font-family: "Apple Color Emoji", Times, serif;*/
	font-family:"Gill Sans", sans-serif;
	font-size:12px;
	color : #FFFFFF;
}



label{
	font-family:"Gill Sans", sans-serif;
	font-size:11px;
	color : #FFFFFF;
	}


#name_icon{
position: fixed;
top:-5;
left: 0;
}

#name_icon2{
position: fixed;
top:10;
left: 240	;
}


#information{
	position: fixed;
	top:60;
	left: 0;
	width : 500;
	height : 100%;
}


#map{ 
	position: fixed;
	top:60;
	right: 0;
	left:0%;
  border: 1px solid black ;
	width : 100%;
	height : 100%;
}


#share_fb{
	position: fixed;
	top:30;
	right: 5;
}


#share_imprimer{
	position: fixed;
	top:30;
	right: 85;
}

button {
	 border: none;
	 cursor: pointer;
}


/*button in the slide*/
		.button {
		  background-color: #4CAF50; /* Green */
		  border: none;
		  color: white;
		  padding: 8px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 12px;
		  	font-family:"Gill Sans", sans-serif;
		  margin: 4px 2px;
		  transition-duration: 0.4s;
		  cursor: pointer;
		}

		.button1 {
		  background-color: white;
		  color: black;
		  border: 2px solid #555555;
		}

		.button1:hover {
		  background-color: #555555;
		  color: white;
		}


/*comparaision in the slide*/
		.container {
		  position: relative;
		  width: 85%;
		}

		.image_c {
		  display: block;
		  width: 100%;
		  height: auto;
		}

		.overlay {
		  position: absolute;
		  bottom: 100%;
		  left: 0;
		  right: 0;
		  background-color: #008CBA;
		  overflow: hidden;
		  width: 100%;
		  height:0;
		  transition: .5s ease;
		}

		.container:hover .overlay {
		  bottom: 0;
		  height: 100%;
		}

		.text {
		  white-space: nowrap; 
		  color: white;
		  font-size: 9px;
		  position: absolute;
		  overflow: hidden;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		}



/*Bar Navigation*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family:"Gill Sans", sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #222;
}

.active {
  background-color: #4CAF99;
}

