body {
	background-color : #FFFFFF;
}




h1{
	font-family: Palatino, URW Palladio L, serif;
	font-size:40px;
	color : #A8C7BB;

}



P {
margin-left: 40px;
font-family: "Apple Chancery", Times, serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 0px;
color: #7D7461;
font-weight: 400;
text-decoration: underline;
font-style: italic;
font-variant: normal;
text-transform: none;
}


h2{
	margin-left: 40px;
	font-family: "Apple Chancery";
	font-size:15px;
	color : #A8C7BB;
	display: inline-block;
	vertical-align: top;
}


h3{
	font-family:"Gill Sans", sans-serif;
	font-size:15px;
	color : #2A2E2D;
	display: inline-block;
	vertical-align: top;
}


h5{
	font-family:"Gill Sans", sans-serif;
	font-size:15px;
	color : #FFF;
	display: inline-block;
}

h6{
font-family:"Gill Sans", sans-serif;
font-size: 18px;
letter-spacing: 0px;
word-spacing: 0px;
color: #738988;
font-weight: 400;
/*text-decoration: underline; */
font-variant: normal;
text-transform: none;
}




label{
	font-family:"Gill Sans", sans-serif;
	font-size:14px;
	color : #434F4B;
	}

label{
	font-family:"Gill Sans", sans-serif;
	font-size:14px;
	/*color : #434F4B;*/
	color : FFF;
	}

/*FONT:
https://html-css-js.com/css/generator/font/
*/

#intro{
margin-left: 250px;
margin-right: 250px;
margin-top: 80px;
font-family: "Gill Sans", sans-serif;
font-size: 15px;
letter-spacing: 0px;
word-spacing: 0px;
color: #7D7461;
font-weight: 400;
/*text-decoration: underline; */
font-style: normal;
font-variant: normal;
text-transform: none;
}


#question_coverpage {
margin-left: 250px;
margin-right: 200px;
margin-top: 20px;
margin-bottom: 20px;
font-family: "Apple Chancery", Times, serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 0px;
color: #7D7461;
font-weight: 400;
/*text-decoration: underline; */
font-style: italic;
font-variant: normal;
text-transform: none;
}


#quiz{margin-left: 40px;}


#domaines{
margin-left: 430px;
font-family:"Gill Sans", sans-serif;
font-size: 25px;
letter-spacing: 0px;
word-spacing: 0px;
color: #677C7C;
font-weight: 400;
/*text-decoration: underline; */
font-variant: normal;
text-transform: none;
}


#domaines2{
margin-left: 100px;
font-family:"Gill Sans", sans-serif;
font-size: 15px;
letter-spacing: 0px;
word-spacing: 0px;
color: #677C7C;
font-weight: 400;
/*text-decoration: underline; */
font-variant: normal;
text-transform: none;
}

#domaines3{
margin-left: 100px;
font-family:"Gill Sans", sans-serif;
font-size: 15px;
letter-spacing: 0px;
word-spacing: 0px;
color: #677C7C;
font-weight: 400;
/*text-decoration: underline; */
font-variant: normal;
text-transform: none;
}


#image_information{
	margin-left: 180px;
}

#image_information2{
	margin-left: 150px;
}

#image_information3{
	margin-left: 30px;
}


#button_commemcer{
	margin-left: 550px;}

#button_input1{
	margin-left: 550px;
	}
#button_input2{
	margin-left: 5px;
	}


/*  @HTML : <div id ="map"> </div>
		@CSS : give style to "id" : #map {}
		@HTML : <div classe ="mapClasse"> </div>
		@CSS : give style to "classe" : .mapClasse {}
*/


/*button in the slide*/
		.button {
			margin-left: 50px;
		  background-color: #4CAF50; /* Green */
		  border: none;
		  color: white;
		  padding: 8px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 12px;
		  	font-family:"Gill Sans", sans-serif;
		  margin: 4px 2px;
		  transition-duration: 0.4s;
		  cursor: pointer;
		}

		.button_next {
			margin-left: 50px;
		  background-color: white;
		  color: black;
		  border: 2px solid #555555;
		}

		.button_next:hover {
			margin-left: 50px;
		  background-color: #555555;
		  color: white;
		}









